table, td, th {
    border: 1px ;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
  }
  tr:nth-last-child(2n){
      color: red;
  }

table{
    background-image: linear-gradient(to bottom right , #F8FBF7 , #CBD2D9)
  }
  tbody > tr > th{
      background-color: #BACFE5;
}
thead > tr >  th:nth-child(n+2){
    background-color: #7E98B5;
}
thead > tr >  th:nth-child(1){
    background-color:#92ABD2 ;
}
thead > tr > th {
    border-bottom: solid 2px;
}
tr > th:nth-child(1) {
    border-right:black solid 2px;
}
 table td:nth-last-child(n+){
     border-right:black  dotted 2px;
 }
 table th:nth-child(n+2){
    border-right:black  dotted 2px;
}