@media screen and (max-width:1200px){
    .container{
        width: calc(100% - 100px)
    }
    html{
        font-size: 8px;
    }
}
@media screen and (max-width:832px){
    html{
        font-size: 8px;
    }
    .col1{
        float: none;
    }
    .col2{
        float: none;
        clear: both;
        text-align: left;
        float: none;
        padding-top: 2rem;
    }
    .box1{
        float: none;
        width: 70%;
        display: table;
        margin: 2rem auto;
    }
    .section2 div.box1:last-child{
        margin: 2rem auto;
    }
}
@media screen and (max-width:550px){
.container{
    width: calc(100% - 50px);
}  
}