#big-ground{
    background-image:url(cloud.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% ;
    padding: 0px 50px;
    width: 100%;
}
#small-ground{
    border-radius: 3px;
    width: 80%;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(256, 256, 256, 0.5)
}
#h1{
    text-align: left;
    color: white;
}
#hr{
    color: black;
}
#p{
    text-align: left;
    color: black; 
}
div#left{
    display: flex;
    justify-content: left;
    flex-direction: column;
}
div#l1 > input{
    display: block;
}

